.description {
  color: $offWhite;
  width: 100%;
  background-color: $darkgrey;
  padding: 2rem;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.social {
  background-color: $darkgrey;
  padding: 2rem;
  &-title {
    color: $offWhite;
  }
  &-icons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    &-btn {
      font-size: 1.8rem;
      border: none;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}

.services{
  background-color: $white;
  padding: 2rem;
  &__img{
    width: 10rem;
    border-radius: 50%;
  }
}

.service{
  background-color: $darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  color: $white;
  &-img{
    width: 10rem;
    border-radius: 50%;
  }
}

.services-container{
  display: flex;
  flex-direction: row;
}

.services__footer{
  &-btn{
    border: none;
    background-color: $darkgrey;
    color: $white;
  }
}
