.description {
  color: $offWhite;
  width: 100%;
  background-color: $darkgrey;
  padding: 2rem;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.social,
.product {
  background-color: $darkgrey;
  padding: 2rem;
  &-title {
    color: $offWhite;
  }
  &-icons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    &-btn {
      font-size: 1.8rem;
      border: none;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}

.services,
.products {
  background-color: $white;
  padding: 2rem;
  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &-btn {
    border: none;
    background-color: $darkgrey;
    color: $white;
  }
}

.service,
.product {
  background-color: $darkgrey;
  border: 5px solid $white;
  border-radius: 1rem;
  color: $white;
}


.gallery{
  &-container{
    width: 20rem;
    height: auto;
  }
  &-image{
    width: 100%;
    object-fit: cover;
  }
}